<%- include('../partials/header') %>
<form class = "editform" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
	<table style="margin: 0 auto;">
			<tbody>
				<tr>
					<td class="form-label">Date:</td>
					<td><input class="newwktinput" type="text" name="date" value="<%= workout.date.toLocaleDateString() %>" ></td>
				</tr>
				<tr>
					<td class="form-label">Muscle Group(s):</td>
					<td><input class="newwktinput" type="text" name="type" value= <%= workout.type %>></td>
				</tr>
				<tr>
					<td class="form-label">Warm Up:</td>
					<td><textarea id="warmup" class="newwktinput" type="text" name="warmup"><%= workout.warmup %></textarea></td>
				</tr>
			</tbody>
		</table>
   <input class = "addactivity" type="submit" value="Update Workout">
</form>
</body>

<%- include('../partials/footer') %>