<%- include('../partials/header') %>
<% if(user){ %>
<% if (workouts.length) { %>
    <table id = "workoutlist">
      <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Details</th>
      </thead>
      <tbody>
      <% workouts.forEach(function(workout) { %>
        <tr>
          <td><%= workout.date.toLocaleString() %></td>
          <td><%= workout.type %></td>
          <td class="details"><a href="/workouts/<%= workout._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <p>No Workouts Added</p>
      <% }; %>
      <% } else { %>
        <p>user is not logged in</p>
    <% }; %>

<%- include('../partials/footer') %>