<%- include('../partials/header') %>
<% if(user){ %>
<% if (workouts.length) { %>
    <table id="prevworkouts" class="activities">
      <thead class="thead">
        <th class="tdhead">Date</th>
        <th class="tdhead">Type</th>
        <th class="tdhead">Details</th>
      </thead>
      <tbody>
      <% workouts.forEach(function(workout) { %>
        <tr>
          <td class="td"><%= workout.date.toLocaleDateString() %></td>
          <td class="td"><%= workout.type %></td>
          <td class="td"><a class="btn btn-primary btn-md" id="details" href="/workouts/<%= workout._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <p>No Workouts Added</p>
      <% }; %>
      <% } else { %>
        <p>user is not logged in</p>
    <% }; %>

<%- include('../partials/footer') %>