<%- include('../partials/header') %>
<h4 class="showheading"><%= workout.type %> workout on <%= workout.date.toLocaleString() %></h4>
<section id="workoutinfo">
    <div class="showheading">Warm Up: </div>
    <div><%= workout.warmup %></div><br>
    <% if (workout.activities.length) { %>
        <h3>Activities</h3>
        <table class="activities">
                <thead>
                  <th>Exercise</th>
                  <th>Sets</th>
                  <th>Reps</th>
                  <th>Max Weight</th>
                </thead>
                <tbody>
                  <% workout.activities.forEach(function(act) { %>
                  <tr>
                    <td><%= act.name %></td>
                    <td><%= act.sets %></td>
                    <td><%= act.reps %></td>
                    <td><%= act.weight %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <% } else { %>
              <p class="noactivities">No Activities Added</p>
              <% } %>
              <h4>Add Activity</h4>
              <form id="add-activity-form" method="POST" action="/activities/<%= workout._id %>">
                <label>Exercise:
                  <input type="text" name="name">
                </label><br>
                <label>Sets:
                  <input type="text" name="sets">
                </label><br>
                <label>Reps:
                  <input type="text" name="reps">
                </label><br>
                <label>Max Weight:
                 <input type="text" name="weight">
                </label><br>
                <input class="addactivity" type="submit" value="Add Activity"><br>
              </form>
       <button><a href="<%= workout._id %>/edit">Edit Workout</a></button>
       <form action="/workouts/<%= workout._id %>?_method=DELETE", method="POST">
        <td><button type="delete">Delete Workout</button></td>
        </form>
</section>

<%- include('../partials/footer') %>