<%- include('../partials/header') %>
<h1><%= workout.type %> Workout on <%= workout.date %></h1>
<section id="workoutinfo">
    <div>Warm Up: </div>
    <div><%= workout.warmup %></div><br>
    

       <button><a href="<%= workout._id %>/edit">Edit Workout</a></button>
       <form action="/workouts/<%= workout._id %>?_method=DELETE", method="POST">
        <td><button type="delete">Delete Workout</button></td>
        </form>
</section>

<%- include('../partials/footer') %>