<%- include('../partials/header') %>
<h4 class="showheading"><%= workout.type %>  <%= workout.date.toLocaleDateString() %></h4>
<section id="workoutinfo">
    <h2>Warm Up: </h2>
    <div><%= workout.warmup %></div><br>
    <% if (workout.activities.length) { %>
    <h2>Activities:</h2>
    <table class="activities">
        <thead class="thead">
            <th class="tdhead">Exercise</th>
            <th class="tdhead">Sets</th>
            <th class="tdhead">Rep Sequence</th>
            <th class="tdhead">Max Weight</th>
        </thead>
        <tbody>
            <% workout.activities.forEach(function(act) { %>
            <tr>
                <td class="td"><%= act.name %></td>
                <td class="td"><%= act.sets %></td>
                <td class="td"><%= act.reps %></td>
                <td class="td"><%= act.weight %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <p class="noactivities">No Activities Added</p>
    <% } %>
    <div id="add-activity">
        <h4>Add Activity</h4>
        <form  autocomplete="off" method="POST" action="/activities/<%= workout._id %>">
            <table id="add-activity-form" >
                <tbody>
                    <tr>
                        <td class="form-label">Exercise:</td>
                        <td><input class="newwktinput" type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td class="form-label">Sets:</td>
                        <td><input class="newwktinput" type="text" name="sets"></td>
                    </tr>
                    <tr>
                        <td class="form-label">Rep Sequence:</td>
                        <td><input class="newwktinput" type="text" name="reps"></td>
                    </tr>
                    <tr>
                        <td class="form-label">Max Weight:</td>
                        <td><input class="newwktinput" type="text" name="weight"></td>
                    </tr>
                </tbody>
            </table>
            <input class="btn btn-primary btn-xl details"  type="submit" value="Add Activity"><br>
        </form>
    </div>
    <div class='container'>
        <!-- <a class="btn btn-primary btn-xl" id="details" href="<%= workout._id %>/activity">Add Activity</a> -->
       <a class="btn btn-primary btn-xl details" href="<%= workout._id %>/edit">Edit Workout</a>
        <form action="/workouts/<%= workout._id %>?_method=DELETE" , method="POST">
            <td><button class="btn btn-primary btn-xl details"  type="delete">Delete Workout</button></td>
        </form>
    </div>
</section>

<%- include('../partials/footer') %>